@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 140px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: white;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: top;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0 #555555;
    max-width: 350px;
}

.banner_headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0 #555555;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options { 
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 13px;
    margin: 20px 0;
}

.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.banner_hours {
    border-bottom: 1px solid white;
    margin: 20px 0;
    font-size: 15px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral main {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin: 20px 0 20px 0;
}

.widget_title_text {
    color: #000000;
    font-size: 20 px;
    font-weight: bold;
}

.widget_title_bar {
    width: 60px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

aside .widget_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

aside .widget_body .widgetbox {
    background-color: #39AAE1;
    max-width: 140px;
    width: 100%;
    height: 140px;
    margin-bottom: 15px;
}

aside .widget_body p {
    font-size: 14px;
    margin-bottom: 20px;
}

aside .line {
    background-color: #ccc;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}

aside .widget_box_item {
    width: 100%;
}

aside .item1, .item2 {
    display: flex;
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

aside .item1 p, .item2 p {
    padding-left: 8px;
}

.flex {
    display: flex;
    flex-wrap: wrap; 
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 3px;
}

article .news_coments {
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
}

article .news_title {
    margin: 25px 0 25px 0;
    font-size: 23px;
    color: black;
}

article .news_resume {
    line-height: 23px;
    color: #5c5c5c;
    font-size: 14px;
    margin-bottom: 30px;
} 

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

footer .footer_menu {
    display: flex;
}

footer .footer_menu .fm1 h2, .fm2 h2, .fm3 h2 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.flexColumn {
    flex-direction: column;
}

footer .fm1, .fm2, .fm3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.fm1 {
    background-color: #39aae1;
}

.fm2 {
    background-color: #0079c7;
}

.fm3 {
    background-color: #2b4c99;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: white;
}

footer .widget_title_text {
    color: white;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.widget_info {
    padding: 10px;
}

.footer_areaitem .widget_body .info1 {
    color: #cccc;
    margin-bottom: 30px;
}

.footer_areaitem .widget_body .widget_info {
    display: flex;
    justify-content: space-between;
    color: #cccc;
}

.footer_areaitem .widget_body2 p {
    margin-bottom: 20px;
    padding: 10px;
    color: #cccc;
}