@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Orbitron&display=swap');

:root{
    --font01: Arial, Verdana, sans-serif;
    --font02: 'Dela Gothic One', sans-serif;
    --font03: 'Orbitron', sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
}

body {
    background-color:rgba(0, 0, 0, 0.842)
}

header {
    background-image: linear-gradient(to bottom, rgb(145, 23, 23), black);
    font-family: var(--font01);
    text-align: center;
    
}

header > h1 {
    padding-top: 20px;
    font-family: var(--font02);
    font-size: 2.5em;
    color: white;
    font-weight: normal;
    text-shadow: 10px 7px 10px black;
}

header > nav {
    padding-top: 20px;
    margin-top: 50px;
    text-align: left;
    padding-bottom: 10px;
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: var(--font03);
    font-size: 1em;
    font-weight: bolder;
    
}

header a:hover {
    color: rgba(255, 0, 0, 0.836);
    background-color: white;
    border-radius: 20px;
    transition: 0.7s;
}

main {
    max-width: 850px;
    margin: auto;
    font-family: var(--font01);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px red;
}

main h2 {
    font-family: var(--font03);
    font-size: 2.1em;
    padding: 5px;
    text-shadow: 1px 1px 3px  red;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.377), white);
    margin-bottom: 5px;
}

main p {
    font-family: var(--font01);
    padding: 10px;
    font-size: 1em;
    text-indent: 40px;
    line-height: 1.5em;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

caption {
    border: 1px solid black;
    font-size: 1.2em;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.tabela {
    overflow-x: auto;
    margin: auto;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    font-family: var(--font03);
    font-size: 1em;
    width: 700px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nivel {
    text-align: center;
    font-weight: bolder;
}

table th, td {
    border: 1px solid black;
    font-family: var(--font01);
    padding: 5px;
}

div > h2.textv {
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.432), rgb(255, 255, 255));
}

div.video {
    background-color: rgba(255, 0, 0, 0.356);
    border-radius: 10px;
}

div.video > iframe {
    display: block;
    margin: auto;
    max-width: 100%;
}

footer {
    background-color: white;
    color: black;
    padding: 10px;
    font-family: var(--font01);
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    margin-bottom: 10px;
}