@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header .logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
}

header nav.desktop a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
}

header nav.mobile {
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-size: 100% 100%;
    background-image: url(../imagens/icon_menu.png);
    display: none;
}

nav.mobile ul {
    border-bottom: 4px solid #EB2D2D;
    z-index: 999;
    left: 0;
    top: 100px;
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: white;
    display: none;
}

nav.mobile li {
    font-size: 23px;
    padding: 20px 0px;
    font-style: italic;
}

nav.mobile li a {
    color: black;
    text-decoration: none;
}

section.banner {
    width: 100%;
    height: 600px;
    min-height: calc(100vh - 130px);
    background-color: black;
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.text-banner {
    padding: 100px;
}

.text-banner .text-banner-single {
    border-radius: 8px;
    margin-top: 13px;
    padding: 10px 30px;
    width: 314px;
    height: 60px;
    color: white;
    font-style: italic;
    font-size: 23px;
    text-transform: uppercase;
    background-image: url(../imagens/box-text.png);
    background-size: 100% 100%;
}


.text-banner .text-banner-single:nth-of-type(2) {
    width: 250px;
    height: 55px;
    position: relative;
    left: -12px;
}

.text-banner .text-banner-single:nth-of-type(3) {
    width: 210px;
    height: 55px;
    position: relative;
    left: -23px;
}

.text-banner .text-banner-single:nth-of-type(4) {
    position: relative;
    left: -30px;
    color: black;
    width: 320px;
    height: 55px;
    background-image: url(../imagens/box-white-text.png);
}

section.veiculos-destaque {
    padding: 90px 2%;
}

section.veiculos-destaque .container {
    max-width: 1000px;
    padding: 40px 0;
}

.line-titulo {
    max-width: 1064px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.ln1 {
    position: absolute;
    top: 20px;
    height: 1px;
    width: 100%;
    background-color: black;
}

.line-titulo h2 {
    position: relative;
    padding: 0 20px;
    background-color: white;
    display: inline-block;
    text-align: center;
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
}



.veiculos-vitrini {
    float: left;
    width: 33.3%;
}

.veiculos-vitrini .carro-img {
    border-radius: 15px;
    border: 6px solid white;
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
}

.veiculos-vitrini h2 {
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.veiculos-vitrini p {
    padding-top: 8px;
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
}

.btn1 {
    background-color: #EB2D2D;
    border-bottom: 5px solid #B21E1E;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
    display: block;
    color: white;
    font-size: 18px;
    font-style: italic;
    width: 153px;
    border-radius: 8px;
}

.veiculos-vitrini a {
    margin-top: 15px;
    margin-left: 8px; 
}

.servico-descricao {
    display: flex;
}

.half1 {
    text-align: right;
    width: 50%;
    padding: 90px 0;
    background-color: #242424;
    color: white;
}

.half1-wrapper {
    padding-right: 30%;
    text-align: left;
    display: inline-block;
}

.half1-wrapper h2 {
    font-weight: normal;
    font-size: 30px;
    font-style: italic;
}

.half1-wrapper ul {
    display: inline-block;
    margin-top: 20px;
}

.half1-wrapper li {
    margin-left: 15px;
    line-height: 30px;
}

.half1-wrapper a {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 50px;
}

.half2 {
    width: 50%;
    padding: 90px 100px;
    background-color: #EB2D2D;
    color: white;
}

.half2 h2 {
    font-weight: normal;
    font-size: 30px;
    font-style: italic;
}

.half2 .depoimento-single {
    margin-top: 19px;
}

.depoimento-single p {
    font-size: 20px;

}

.navigation {
    width: 100%;
    max-width: 700px;
    float: left;
    margin-top: 25px;
    cursor: pointer;
}

.navigation img {
    margin: 0 20px;
}

.arrows {
    float: left;
}

.nome-depoimento {
    float: right;
    color: #252525;
    font-size: 20px;
}

section.contato {
    padding: 80px 2% 0 2%;
}

section.contato form {
    max-width: 600px;
    margin: 30px auto;
}

section.contato .input-wrapper {
    float: left;
    padding: 10px;
    margin-top: 7px;
}

section.contato .input {
    width: 100%;
    border: 1px solid #ccc;
    height: 50px;
    font-size: 16px;
    line-height: 40px;
    padding-left: 15px;
}

section.contato form .input-wrapper:nth-of-type(5) {
    text-align: center;
}

section.contato textarea {
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    height: 140px;
    padding: 15px;
    resize: none;
}

section.contato input[type=submit] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    display: inline-block;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

footer {
    padding: 40px 2%;
    background-color: #252525;
} 

footer nav {
    float: left;
}

footer p {
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    padding: 0 30px;
    font-size: 19px;
    float: left;
    font-style: italic;
}

footer nav ul a {
    color: white;
    text-decoration: none;
}

section.venda {
    padding: 90px 0;
    min-height: 90%;
}

.content-venda {
    margin-top: 30px;
}

.side-bar {
    float: left;
    width: 30%;
}

.search1 {
    width: 90%;
}

.search1 h2 {
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.search1 .barra-preco {
    width: 100%;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-radius: 20px;
    position: relative;
}

.barra-preco-fill {
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200,200,200));
}

.pointer-barra {
    position: absolute;
    left: calc(90% - 13px);
    top: -5px;
    width: 26px;
    height: 26px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(160,160,160));
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.valor-pesquisa {
    margin-top: 8px;
}

.valor-pesquisa p {
    color: black;
    font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1) {
    float: left;
}

.valor-pesquisa p:nth-of-type(2) {
    float: right;
}

.search2 {
    margin-top: 30px;
}

.search2 h2 {
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.form-venda-wraper {
    margin-top: 10px;
}

.form-venda-wraper input[type=checkbox] {
    display: none;
}

.form-venda-wraper input[type=checkbox]:checked + label > .circle {
    display: block;
}

.form-venda-wraper label {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.circle {
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: black;
    position: absolute;
    top: 5px;
    left: 5px;
}

.form-venda-wraper span {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
}

.vitrine-vendas {
    float: left;
    width: 70%;
}

.vitrine-vendas .veiculos-vitrini{
	margin-top:20px;
}

section.venda-single {
    padding: 70px 2% 0;
}

section.venda-single .container {
    text-align: center;
    max-width: 1200px;
    padding: 65px 0;
}

.info-veiculo {
    display: inline-block;
    width: 60%;
}

.foto-destaque {
    width: 100%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.descricao-veiculo {
    text-align: left;
    vertical-align: top;
    padding: 20px;
    display: inline-block;
}

.descricao-veiculo p {
    font-size: 17px;
    max-width: 380px;
    margin-top: 25px;
}

.descricao-veiculo a {
    margin-top: 25px;
}

.nav-galeria-parent {
    width: 100%;
    padding: 36px;
    position: relative;
}

.arrow-left-nav {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-image: url(../imagens/arrow-left.png);
    background-size: 100% 100%;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.arrow-right-nav {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-image: url(../imagens/arrow-right.png);
    background-size: 100% 100%;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.info-bread {
    text-align: left;
    padding: 15px 0;
}

.info-bread a {
    text-decoration: none;
    color: black;
}

.info-bread a:last-child {
    color: red;
}

.info-bread span {
    padding: 0 20px ;
}

.nav-galeria {
    width: 100%;
    overflow: hidden;
}

.nav-galeria-wrapper {
    width: 210%;
}

.mini-img {
    cursor: pointer;
    border: 5px solid white;
    float: left;
    background-position: center;
    background-size: cover;
    padding-top: calc(33.3% * (100 / 200) * 0.5);
    width: calc(33.3% * (100 / 200));
}


@media screen and (max-width: 1400px) {
    section.banner {
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1100px) {
    .half1 {
        text-align: center;
    }

    .half1-wrapper {
        text-align: left;
        padding-right: 0;
    }

    .half1-wrapper a {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1024px) {
    section.banner {
        background-size: cover;
        background-position: 100px center;
        height: 70vw;
        min-height: 700px;
    }
}

@media screen and (max-width: 800px) {
    .half1-wrapper a {
        display: block;
        margin-left: 0;
        margin-top: 20px;
        
    }
}

@media screen and (max-width: 700px) {

    footer nav {
        display: none;
    }

    footer {
        text-align: center;
    }

    footer p {
        float: none;
    }

    .w50 {
        width: 100%;
    }

    .servico-descricao {
        flex-direction: column;
    }

    .half1, .half2 {
        width: 100%;
    }


    nav.desktop {
        display: none;
    }

    header nav.mobile {
        display: block;
    }

    .text-banner {
        padding: 150px 40px;
    }

    .side-bar {
        width: 100%;
        text-align: center;
    }

    .search1 {
        display: inline-block;
    }

    .search2 {
        display: inline-block;
        text-align: left;
    }

    .vitrine-vendas {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .text-banner {
        padding: 150px 40px;
    }
    
    .text-banner .text-banner-single {
        margin-top: 13px;
        padding: 20px 30px;
        width: 314px;
        height: 80px;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        background-image: url(../imagens/box-text.png);
        background-size: 100% 100%;
    }
    
    
    .text-banner .text-banner-single:nth-of-type(2) {
        width: 250px;
        position: relative;
        left: -12px;
    }
    
    .text-banner .text-banner-single:nth-of-type(3) {
        width: 210px;
        position: relative;
        left: -23px;
    }

    section.veiculos-destaque .container {
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }

    .veiculos-vitrini {
        display: inline-block;
        float: none;
        width: 80%;
        margin-top: 25px;
    }

    .veiculos-vitrini a {
        display: inline-block;
    }

    
}