@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body {
    height: 100%;
}

@font-face {
    src:url('../fonts/OpenSans_Condensed-Light.ttf');
    font-family: 'Open Sans';
}

:root {
    --cor01: #212343;
    --cor02: #dddddd;
}

.center {
    width: 1200´px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 90px;
    background-color: var(--cor01);
}

.header img {
    margin: 35px 0px 0px 70px;
    width: 150px;
}

.conteiner-banner {
    width: 100%;
    height: 557px;
    background-image:url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}

.conteiner-banner > .center {
    height: 100%;
}

.form {
    padding: 15px;
    width: 400px;
    height: calc(100% + 30px);
    background-color: white;
    background-clip: padding-box;
    float: right;
    position: relative;
    top: -15px;
    right: 150px;
    border: 8px solid rgba(120, 120, 120, 0.7);
}

.form h2 {
    font-weight: normal;
    color: #9999;
    font-size: 22px;
}


.input-container {
    margin-top: 20px;
}
.input-container label, form p {
    display: inline-block;
    width: 100%;
    color: #bbbb;
    font-size: 20px;
}

.form p {
    margin: 20px 0px;
}

.input-container input[type="text"], input[type="email"], input[type="tel"] {
    margin-top: 6px;
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
}

.input-submit-container {
    text-align: center;
}

form input[type="submit"] {
    width: 280px;
    height: 56px;
    font-size: 30px;
    background-color: #5156a8;
    color: white;
    display: inline-block;
    border-bottom: 5px solid #646ed3;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #3e417e;
}
.container-list {
    padding: 30px;
    margin: 40px 0px 0px 50px;
    float: left;
    width: 619px;
    height: 320px;
    border-radius: 10px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul {
    list-style-position: inside;
    
}
.container-list ul li {
    color: white;
    padding: 15px;
    font-size: 20px;
}

.container-2 {
    padding: 40px 0px;
    background-color: rgba(240, 240, 240);
    text-align: center;
}

.container-2 h2 {
    font-size: 2em;
    font-weight: normal;
}
.container-2 p {
    line-height: 1.5em;
    margin: 15px 0px;
    font-size: 1.1em;
    width: 698px;
    display: inline-block;
    text-align: justify;
}


.arrow {
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;
    
}