@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.clear {
    clear: both;
}

:root {
    --cor1: #040638;
    --cor2: #024059;
    --cor3: #025E73;
    --cor4: #0BADBF;
}

.container {
    width: 100%;
    margin: 0 auto;
}

body,html {
    height: 100%;
    background-color: rgb(38, 38, 117);
}

section.header-principal {
    background-image: url(../imagens/fundo-consultoria-einstein-1.jpg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 650px;
}

header .img {
    position: relative;
    top: 15px;
    left: 50px;
    width: 170px;
    height: 60px;
}

.header1 {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header nav ul li {
    padding: 0 10px;
    font-size: 17px;
    margin: 0px 5px;
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-style: italic;
}


.header1 nav ul li a:hover {
    color: black;
    transition-duration: 0.5s;
    background-color: white;
}


.header1 nav a::after {
    position: absolute;
    top: 38px;
    left: 0;
    display: inline-block;
    content: " ";
    width: 0px;
    height: 3px;
    background-color: red;
}

.header1 nav a:hover::after {
    width: 37px;
    transition: 0.6s;
}

.banner h2 {
    padding-right: 250px;
    margin-top: 80px;
    margin-left: 150px;
    max-width: 770px;
    color: white;
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
}

.banner hr {
    margin-top: 15px;
    width: 690px;
}

section.header-principal .container {
    max-width: 800px;
    position: relative;
    top: 95px;

}

.banner-image {
    display: flex;
    align-self: center;
    justify-content: center;
}

.banner-image .image {
    padding: 5px;
}

.banner-image .image:nth-of-type(1) img,
.banner-image .image:nth-of-type(3) img {
    width: 230px;
}

.banner-image .image:nth-of-type(2) img {
    width: 260px;
    position: relative;
    top: -10px;
    
}

.banner-image .image img:hover {
    transform: scale(1.1);
}

.banner-image .image img {
    display: block;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    transition:  transform 0.3s ease-in-out;
}

section.header-principal .container .banner-image .image:nth-of-type(1) {
    width: 250px;
}   

section.header-principal > .banner-image .image img:nth-of-type(2) {
    width: 360px; 
}

section.header-principal > .banner-image .image:nth-of-type(3) {
    width: 250px;
}

.info {
    width: 100%;
    background-color: #040638;
}

section.info1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 30px 40px;
    background-color: #040638;
}

.container .info h2 {
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding: 15px 20px;
    text-transform: uppercase;
    text-align: left;
}

section.info1 .info-single {
    max-width: 590px;
    width: 100%;
    margin-right: 200px;
}

section.info1 .img-info img {
    border-radius: 8px 30px 30px 8px;
    max-width: 590px;
    width: 100%;
}

section.info1 p {
    margin-top: 15px;
    line-height: 25px;
    text-align: justify;
    color: white;
    margin-bottom: 10px;
}

section.info1 .btt {
    border-radius: 20px;
    margin-left: 15px;
}

main .servico {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0 auto;

}

main .servico .servico-lista h2 {
    text-align: center;
    padding: 27px 0;
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
    color: #004F92;
}

main .servico .servico-lista p {
    text-align: center;
    font-size: 17px;
}

main .servico-lista .servico-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 2px 6px black
}

main .servico-wrapper .single-1, .single-2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .servico-lista .servico-wrapper .servico-single {
    width: 240px;
    text-align: center;
    border: 1px solid #004F92;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
}

main .servico-wrapper .servico-single p {
    font-size: 14px;
    font-weight: 700;
    color: #004F92;
}


main .servico .servico-lista img {
    width: 110px;
}

main .servico .servico-single:hover {
    transition: 0.7s;
    background-color: var(--cor2);
}

main .servico .servico-single:hover p {
    color: white;
}

section.encontro {
    background-color: var(--cor1);
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encontro .texto-principal {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.encontro .texto-principal .texto1 {
    margin-right: 45px;
    max-width: 750px;
    width: 60%;
    color: white;
}

.btt {
    margin-top: 50px;
    width: 200px;
    height: 45px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.encontro .img-encontro {
    width: 40%;
}

.img-encontro img {
    max-width: 500px;
    border-radius: 8px 35px 30px 8px;
}

.texto-principal .texto1 h2 {
    font-size: 27px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 25px;
}

.texto-principal .texto1 p {
    font-size: 19px;
    line-height: 30px;
}

.input-contatos {
    width: 100%;
    padding: 80px 80px;
}

.input-contatos h2 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px;
}

.input-contatos p {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 25px; 
}

.input-contatos .form {
    padding: 50px 30px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgb(300, 300, 300, 0.5);
    color: black;
    width: 100%;
    max-width: 750px;
}


.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.input-contatos .form-wrapper {
    float: left;
    padding: 10px 2%;
}

.input-contatos .input {
    border-radius: 8px;
    border: 1px solid var(--cor2);
    padding: 5px;
    font-size: 13px;
    outline: none;
    height: 50px;
    width: 100%;
    margin: 8px 0;
}

.input-contatos .form > label {
    font-size: 15px;
}

.input-contatos .form textarea {
    padding: 10px;
    width: 100%;
    height: 220px;
    margin-top: 10px;
    resize: none;
}

.input-contatos .form .btt {
    margin-top: 7px;
    width: 150px;
    height: 35px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.input-contatos .form .btt:hover {
    background-color: var(--cor2);
    color: white;
    transition-duration: 0.4s;
    transform: scale(1.1, 1.2);
}

.info_comple {
    background-color: white;
    padding: 60px 90px;
    text-align: center;
}

.info_comple .titulo {
    max-width: 1290px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.info_comple .ln {
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 20px;
}

.info_comple h2 {
    position: relative;
    display: inline-block;
    background-color: white;
    margin-bottom: 15px;
    padding: 0 2%;
    font-size: 30px;
    color: var(--cor2);
    font-style: italic;
}

.info_comple p {
    padding-bottom: 20px;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
}

.info_comple> .btt {
    margin-top: 5px;
    width: 250px;
}

.footer-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 80px 90px;
}

.footer-principal .footer-img img {
    width: 200px;
    height: 80px;
    margin-bottom: 12px;
}

.footer-principal .footer-1 {
    text-align: left;
    max-width: 560px;
    width: 100%;
}

.footer-principal .footer-1 p {
    max-width: 460px;
    color: white;
    font-size: 17px;
    padding: 9px 0;
}

.footer-principal .footer-1 .img-redes img {
    width: 36px;
    margin-top: 20px;
}

.footer-principal .footer-1 .img-redes img:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition-duration: 0.4s;
}