@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
}
/*Divs gerais*/
.container {
   width: 100%;
   max-width: 1220px;
   margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background-color: rgb(190, 190, 190);
    padding: 10px 2% 30px 2%;
}

.logo-1 {
    float: left;
    width: 180px;
    height: 70px;
    background-image: url(../imagens/logo1.png);
    background-size: 100%  auto;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: purple;*/
}

.logo-2 {
    float: right;
    width: 170px;
    height: 70px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imagens/logo2.png);
    /*background-color: green;*/
}

section .cover-form {
    width: 100%;
    padding: 0 2%;
}


.bg {
    position: relative;
    margin: 0 auto;
    height: 550px;
    max-width: 1220px;
    background-size: cover;
    background-position: center;
    background-image: url(../imagens/bg-form.jpg);
}

.arrow {
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%);
    background-image: url(../imagens/seta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    
}

.container-form {
    position: absolute;
    top: -2%;
    right: 30px;
    box-shadow: 0px 0px 6px 1px black;
    border-radius: 9px;
    width: 400px;
    height: 104%;

    background-color: white;
}

.container-form h2 {
    border-radius: 9px 9px 0px 0px;
    font-weight: normal;
    background-color: rgb(220, 220, 220);
    color: black;
    padding: 25px 15px;
    font-size: 18px;
}

.container-form form {
    margin-top: 8px;
    padding: 25px;
}

.container-form form label { 
    font-size: 14px;
    color: #525252;
}

.form-wrapp:last-child {
    margin-top: 20px;
}

.form-wrapp:not(:first-child) {
    margin-top: 30px;
}

.container-form form input[type=text] {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    line-height: 45px;
    padding-left: 10px;
}

.container-form form input[type=submit] {
    background-color: #033C50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    height: 55px;
    font-size: 25px;
    cursor: pointer;
    border: 0;
}

.container-form form input[type=submit]:hover {
    background-color: #022430;
    opacity: 0.8;
}

section.chamada {
    z-index: 1;
    width: 100%;
    text-align: center;
}

section.chamada .container {
    background-color: #b9d3d4;
    padding: 70px 0;
}

section.chamada h1 {
    width: 96%;
    max-width: 700px;
    color: black;
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
}

section.chamada h2 {
    font-size: 1em;
    color: black;
    font-weight: normal;
}


.flex-mosaico {
    padding: 6px 0;
    display: flex;
}

.item-1-mosaico {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
}

.item-2-mosaico {
    color: white;
    background-color: #13678A;
    padding: 150px 40px;
    width: 40%;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #b9d3d4;
}

footer p {
    margin-bottom: 10px;
}

footer img {
    width: 130px;
    padding: 15px 0;
}

@media screen and (max-width: 768px) {


    .flex-mosaico {
        padding: 5px;
        text-align: center;
        display: block;
        flex-direction: column;
    }

    .item-1-mosaico {
        height: 350px;
        width: 100%;
    }
    
    .item-2-mosaico {
        color: white;
        background-color: #13678A;
        padding: 40px 40px;
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    .bg {
        height: auto;
        padding: 40px 0;
        text-align: center;
    }

    .container-form {
        display: inline-block;
        position: static;
        height: auto;
    }
}
 
@media screen and (max-width: 500px) {
    header {
        text-align: center;
    }

    section.chamada .container {
        background-color: #c5dfe0;
        padding: 55px 25px;
    }

    [class^="logo"] {
        margin-top: 20px;
        display: inline-block;
        float: none;
    }
}