@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* Paleta de cores */
:root {
    --cor01: #2E005E;
    --cor02: #421983;
    --cor03: #C7FA73;
    --cor04: #B880FF;
}
    div#corpo {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 870px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
}

header div#ic  {
    background-color: #2E005E;
    border-radius: 15px 15px 0px 0px ;
    margin-top: 15px;
}

header > section {
   height: 120px;
}

div#ic> span {
    color: white;
    font-size: 2.5em;
    height: 10px;
    position: relative;
    right: -10px;
}

section {
    background-color: #421983;
    height: 85px;
}

section > span {
    color: white;
    padding: 30px;
}

section > input[type=button] {
    position: relative;
    right: -620px;
    background-color: #B880FF;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
}

section > input[type="button"]:hover {
    background-color: #2E005E;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 2px solid white;
}

main {
    height: 470px;
    background-color: #421983;
    padding: 40px;
    
}

main > article > h1 {
    color: white;
    font-size: 2.3em;
}

main p {
    color: white;
    line-height: 1.5em;
    font-size: 1.4em;
    padding-top: 15px;
    font-family: 'Cormorant Garamond', serif;
}

div.conteiner {
    position: relative;
    width: 330px;
    left: 65%;
}

div.conteiner > img {
    width: 100%;
}

.estre {
    position: absolute;
    top: -260px;
    left: -20px;
}

.textoimg  {
    position: absolute;
    text-align: center;
    left: 85px;
    top: -156px;
}

div.textoimg > p {
    font-size: 1.1em;
    color: white;
    
}

main input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-top: 46px;
    border-radius: 9px;
    margin-right: 8px;
}

main input[type="submit"] {
    padding: 10px;
    border-radius: 9px;
}

main input[type="submit"]:hover {
    background-color: #B880FF;
    transition-duration: 0.5s;
    cursor: pointer;
}

footer {
    padding-top: 60px;
    display: flex;
    font-size: 0.9em;
}

footer > img.rosa {
    width: 130px;
    display: flex;
    padding-right: 20px;
    
}